.portfolio{
  // margin-top: 10vh;
  // position: relative;
  // top: 14vh;
  width: 97%;
  left: 3%;
  color: white;
  *{
    color: white;
     margin-bottom: 1%;
  }
  span{
    margin-left: 1%;
  }
}
