<main class="portfolio">

  <h2>Big projects:</h2>
  <li><a href="https://testtv.cast-tv.app/home" target="_blank"> https://testtv.cast-tv.app/home</a>
    <span> I spent most of my time working on this project</span>
  </li>
  <li><a href="https://examination-project-e25a4.web.app/"
      target="_blank">https://examination-project-e25a4.web.app/</a>
    <span>this project served as an exam for me in the courses. I use firebase for DB and hosting</span>
  </li>
  <li><a href="https://seva-7e5ed.web.app/projects" target="_blank">https://seva-7e5ed.web.app/projects</a>
    <span>another commercial project that I did from scratch. I use firebase for DB and hosting</span>
  </li>
  <h2>Small projects</h2>
  <li><a href="https://malovaniy.github.io/advertisement/" target="_blank">https://malovaniy.github.io/advertisement/</a>
    <span>this small advertisement board is test task for company</span>
  </li>
  <li><a href="https://malovaniy.github.io/testCarsCatalog/" target="_blank">  https://malovaniy.github.io/testCarsCatalog/</a>
    <span>this verstka test task for company</span>
  </li>
  <li><a href="https://malovaniy.github.io/CRUD/" target="_blank">  https://malovaniy.github.io/CRUD/</a>
    <span>this CRUD test task for company</span>
  </li>
  <li><a href="https://malovaniy.github.io/hw_Js_21/" target="_blank">https://malovaniy.github.io/hw_Js_21/</a>
    <span>this is one of the homework projects in the courses </span>
  </li>
</main>
